<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>statlify.stream demo</title>
  </head>
  <body>
    <main>
      <div id="event-log">
        <p><span id="data-status"></span> <span id="data-screen"></span></p>
        <p>
          <span id="data-blue"></span>
          <span>VS</span>
          <span id="data-red"></span>
        </p>
        <div id="gem-graph"></div>
        <ul id="event-log-ul"></ul>
      </div>
    </main>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.43.2/plotly.min.js"></script>
    <script type="text/javascript">
    (function() {
      const socket = io();
      socket.on("connect", () => console.log("connected"));
      socket.on("disconnect", () => console.log("disconnected"));
      socket.on("error", (error) => console.log("error", error));

      function logEvent(text) {
        const logEl = document.getElementById("event-log-ul");
        const eventEl = document.createElement("li");
        const eventText = document.createTextNode(text);
        eventEl.appendChild(eventText);
        logEl.insertBefore(eventEl, logEl.childNodes[0]);
      }

      Plotly.plot("gem-graph", [{
        x: [],
        y: [],
        mode: "lines",
        line: {color: "blue"},
        name: "Blue Gems"
      }, {
        x: [],
        y: [],
        mode: "lines",
        line: {color: "red"},
        name: "Red Gems"
      }], {
        yaxis: {
          range: [0, 10],
        },
      });

      const timestamps3m = [];
      const blueGems3m = [];
      const redGems3m = [];

      function updateState(state) {
        const blueEl = document.getElementById("data-blue");
        const redEl = document.getElementById("data-red");
        const statusEl = document.getElementById("data-status");
        const screenEl = document.getElementById("data-screen");
        blueEl.textContent = `${state.blue_team} (${state.blue_gems})`;
        redEl.textContent = `(${state.red_gems}) ${state.red_team}`;
        statusEl.textContent = state.ingame ? "ingame" : "waiting";
        screenEl.textContent = `(${state.screen ? state.screen : 'unknown'})`;

        timestamps3m.push(new Date(state.timestamp));
        blueGems3m.push(state.blue_gems);
        redGems3m.push(state.red_gems);

        const earliest = timestamps3m[0];
        const latest = timestamps3m[timestamps3m.length-1];
        if (latest - earliest > 3*60*1000) {
          timestamps3m.splice(0, 1);
          blueGems3m.splice(0, 1);
          redGems3m.splice(0, 1);
        }

        Plotly.update("gem-graph", {
          x: [timestamps3m],
          y: [blueGems3m, redGems3m]
        });
      }

      let last = undefined;
      socket.on("update", (state) => {
        updateState(state);

        if (last == undefined) {
          last = state;
          return;
        }

        if (last.taking_damage != state.taking_damage) {
          if (state.taking_damage) {
            logEvent("taking damage");
          }
        }

        if (last.blue_gems != state.blue_gems) {
          const diff = state.blue_gems - last.blue_gems;

          if (diff > 0) {
            logEvent(`blue collected ${diff} gems`);
          } else {
            logEvent(`blue lost ${-diff} gems`);
          }
        }

        if (last.red_gems != state.red_gems) {
          const diff = state.red_gems - last.red_gems;

          if (diff > 0) {
            logEvent(`red collected ${diff} gems`);
          } else {
            logEvent(`red lost ${-diff} gems`);
          }
        }

        last = state;
      });
    })();
    </script>
  </body>
</html>